---
import type { Product, Category, ProductResponse } from "../../../../types/types";
import GlobalProductDetailsModal from "../../../components/GlobalProductDetailsModal";
import NoItemsAvailable from "../../../components/NoItemsAvailable.astro";
import ProductCard from "../../../components/ProductCard.astro";
import PageHeader from "../../../components/sections/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
import { getTranslations } from "../../../utils/i18n";

const { category } = Astro.params;
const { lang } = Astro.params as { lang: string };
const t = await getTranslations(lang as keyof typeof import("../../../utils/i18n").languages);

if (!category) {
	return Astro.redirect("/404");
}

const getCategoryData = fetch(`${import.meta.env.BASE_API}/single-category/${category}`).then(
	(res) => res.json()
);
const categoryData: Category = await getCategoryData;

if (!categoryData) {
	return Astro.redirect("/404");
}
const categoryName = categoryData.name;

const getItems = fetch(`${import.meta.env.BASE_API}/items`).then((res) => res.json());
const items: ProductResponse = await getItems;

const categoryProducts = items.data.filter(
	(product: Product) => product.categoryId === categoryData.id
);
---

<Layout>
	<PageHeader name={categoryName} />

	<div class="container mx-auto px-4 py-16">
		{
			categoryProducts.length > 0 ? (
				<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-6 lg:gap-8 auto-rows-fr">
					{categoryProducts.map((product) => (
						<div class="w-full h-full">
							<ProductCard product={product} />
						</div>
					))}
				</div>
			) : (
				<NoItemsAvailable
					title={t.brands.noItemsTitle}
					descriptions={t.brands.noItemsDescription}
				/>
			)
		}
	</div>

	<GlobalProductDetailsModal client:load />
</Layout>
