---
import type { Brand } from "../../../types/types";
import BrandsSlide from "../swipers/BrandsSlide.astro";

const categoryDescription = "";

const brands = await fetch(`${import.meta.env.BASE_API}/brands`);
const data = await brands.json();
---

<div class="mt-20 mb-10">
	<span class="block mt-20 mb-10 font-bold text-3xl text-center w-full">الماركات</span>

	{categoryDescription && <p>{categoryDescription}</p>}

	<div class="swiper myCategoriesSwiper">
		<div class="swiper-wrapper">
			{
				data.map((brand: Brand) => (
					<BrandsSlide
						key={brand.id}
						title={brand.name}
						image={brand.image}
						link={brand.id}
						alt={brand.name}
						items_count={brand._count.products}
					/>
				))
			}
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

	<script>
		import Swiper from "swiper";
		import { Navigation } from "swiper/modules";
		import "swiper/css";
		import "swiper/css/navigation";

		document.addEventListener("astro:page-load", () => {
			new Swiper(".myCategoriesSwiper", {
				modules: [Navigation],
				navigation: {
					enabled: true,
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
				spaceBetween: 30,
				loop: true,
				breakpoints: {
					0: {
						slidesPerView: 1,
					},
					640: {
						slidesPerView: 2,
					},
					1024: {
						slidesPerView: 3,
					},
				},
				pagination: {
					el: ".swiper-pagination",
					dynamicBullets: true,
					clickable: true,
				},
			});
		});
	</script>
</div>
