---
import type { Brand, Category } from "../../../types/types";
import { getLangFromUrl, getTranslations } from "../../utils/i18n";
import HomeSlider from "../swipers/HomeSlider.astro";

interface Props {
	currentLang?: string;
}

const { currentLang } = Astro.props;
const lang = currentLang || getLangFromUrl(Astro.url);
const t = await getTranslations(lang as keyof typeof import("../../utils/i18n").languages);

const brandDescription = "";

const brands = await fetch(`${import.meta.env.BASE_API}/brands`);
const data = await brands.json();
---

<div class="mt-10 md:mt-20 mb-10">
	<span class="block mb-10 font-bold text-3xl text-center w-full">{t.home.brands}</span>

	{brandDescription && <p>{brandDescription}</p>}

	<div class="swiper myCategoriesSwiper">
		<div class="swiper-wrapper">
			{
				data.map((brand: Brand) => (
					<HomeSlider
						title={String(brand.name)}
						image={brand.image as string}
						slug={brand.slug}
						alt={String(brand.name)}
						items_count={Number(brand._count.products)}
						currentLang={lang}
						id={String(brand.id)}
					/>
				))
			}
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

	<script>
		import Swiper from "swiper";
		import { Navigation } from "swiper/modules";
		import "swiper/css";
		import "swiper/css/navigation";

		document.addEventListener("astro:page-load", () => {
			new Swiper(".myCategoriesSwiper", {
				modules: [Navigation],
				navigation: {
					enabled: true,
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
				spaceBetween: 30,
				loop: true,
				breakpoints: {
					0: {
						slidesPerView: 1,
					},
					640: {
						slidesPerView: 2,
					},
					1024: {
						slidesPerView: 3,
					},
				},
				pagination: {
					el: ".swiper-pagination",
					dynamicBullets: true,
					clickable: true,
				},
			});
		});
	</script>
</div>
