---
import type { Brand, Product, ProductResponse } from "../../../../types/types";
import GlobalProductDetailsModal from "../../../components/GlobalProductDetailsModal";
import NoItemsAvailable from "../../../components/NoItemsAvailable.astro";
import ProductCard from "../../../components/ProductCard.astro";
import PageHeader from "../../../components/sections/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
import { getTranslations } from "../../../utils/i18n";

const { slug } = Astro.params;
const { lang } = Astro.params as { lang: string };
const t = await getTranslations(lang as keyof typeof import("../../../utils/i18n").languages);

if (!slug) {
	return Astro.redirect("/404");
}

const getBrand = fetch(`${import.meta.env.BASE_API}/single-brand/${slug}`).then((res) =>
	res.json()
);
const brandData: Brand = await getBrand;

if (!brandData) {
	return Astro.redirect("/404");
}

const getProducts = fetch(`${import.meta.env.BASE_API}/items`).then((res) => res.json());
const items: ProductResponse = await getProducts;

const brandItems = items.data.filter((item) => item.brandId === brandData.id);
---

<Layout>
	<PageHeader name={brandData.name} />

	{
		brandItems.length > 0 ? (
			<div class="container mx-auto px-4 py-16">
				<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-6 lg:gap-8 auto-rows-fr">
					{brandItems.map((product) => (
						<div class="w-full h-full">
							<ProductCard product={product} />
						</div>
					))}
				</div>
			</div>
		) : (
			<NoItemsAvailable
				title={t.brands.noItemsTitle}
				descriptions={t.brands.noItemsDescription}
			/>
		)
	}

	<GlobalProductDetailsModal client:load />
</Layout>
