---
import { getTranslations } from "../../utils/i18n";

interface Props {
	title: string;
	image: string;
	link: string;
	items_count?: number;
	alt: string;
	currentLang?: string;
}

const { title, image, link, items_count = 1, alt, currentLang = "ar" } = Astro.props;
const t = await getTranslations(currentLang as keyof typeof import('../../utils/i18n').languages);
---

<div class="swiper-slide">
	<div class="flex flex-col gap-3 text-center">
		<a href={link}>
			<img src={image} alt={alt} class="rounded-md w-full h-72 object-cover" /></a
		>
		<a href={link} class="text-2xl font-bold text-center">{title}</a>
		<p class="text-lg text-center">{items_count} {t.common.element}</p>
	</div>
</div>
